extends layout

block head
  link(rel="stylesheet", href="/css/about-us.css")

block content
  .about-wrapper
    h2 About Us...
    .about-main
      .about-left
        p A bit about us
      .about-right
        img.headshot(src="/images/sonja.png", alt="Sonja")
        img.headshot(src="/images/sandora.png", alt="Sandora")
        img.headshot(src="/images/faisa.png", alt="Faisa")
        img.headshot(src="/images/gal.png", alt="Gal")
