// 10/03/25
// Faisa Ahmed!!
// This is a list of available recipe categories, 
// which include different dietary preferences and types.


doctype html
html
  head
    title Categories
  body
    h1 Categories List
    if categories.length > 0
      table
        thead
          tr
            th Category ID
            th Category Name
        tbody
          each category in categories
            tr
              td= category.category_id
              td= category.category_name
    else
      p No categories found.
