extends layout

block head
  link(rel="stylesheet", href="/homepage.css")

block content
  section.hero
    h1 Welcome to MyRecipePal
    p Crave It, Cook It, Connect It...

  section.categories-container
    h3 Recipes by category
    if categories && categories.length > 0
      .category-list
        each category in categories
          .category-item
            a(href="/categories/" + category.category_id) #{category.category_name}
    else
      p No categories found.

  section.explore-more
    a(href="/recipes").button View More Recipes
