extends layout

block content
  section.hero
    h1 Welcome to MyRecipePal
    p Crave It, Cook It, Connect It...

  section.recipes-container
    if recipes && recipes.length
      each recipe in recipes
        .recipe-card
          img(src=recipe.image, alt=recipe.title)
          h3= recipe.title
          p= recipe.description
    else
      p No recipes found.
      section.explore-more
    a(href="/recipes").button View More Recipes