extends layout

block head
  link(rel="stylesheet", href="/homepage.css")
  link(href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap", rel="stylesheet")
  



block content
  section.hero
    h1 Welcome to MyRecipePal
    p Crave It, Cook It, Connect It...

  .container
    if recipes.length > 0
      .recipe-grid
        each recipe in recipes
          .recipe-card
            .image-wrapper
              img.recipe-image(src=recipe.image, alt=recipe.title)
              .cuisine-type= recipe.cuisineType
            

    else
      p No featured recipes yet.
