extends layout

block content
  section.hero
    h1 Welcome to MyRecipePal
    p Crave It, Cook It, Connect It...

  section.recipes-container
    if categories && categories.length
      .recipe-grid
        each category in categories
          .recipe-card
            h3= category.category_name 
            img(src=category.image, alt=category.category_name)  

    else
      p No recipes found.
    section.explore-more
        a(href="/recipes").button View More Recipes