// Faisa: Im trying to create a standard layout 

// This layout will contain the common elements such as:
// the logo, navigation bar, and links that will appear on all pages. 
// You'll then "extend" this layout in your individual Pug views.


// layout.pug
doctype html
html
  head
    title= title || 'My Recipe Pal'
    link(rel="stylesheet", href="/layout.css")

    link(href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap", rel="stylesheet")

    block head
      
  body
    // Header with logo and navigation links
    header
      h1 MyRecipePal
      p.slogan Crave It, Cook It, Connect It... 
        
      nav
        ul
          li
            a(href="/homepage") Home
          li
            a(href="/aboutus") About Us
          li
            a(href="/recipes") Recipes
          li
            a(href="/login") Log in 
          li
            a(href ="/signup") Sign Up
          li
            a(href ="/myaccount") My Account
    // Main content area
    main
      block content  // This is where the specific page content will be injected

    // Footer
    footer
      p &copy; 2025 MyRecipePal. All Rights Reserved.
