html
    head
        title #{title}
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles.css")
    body
        nav
            a(href='/') Home
            a(href='/about') About Us
            a(href='/recipes') Recipes
            a(href='/login') Login
            a(href='/signup') Sign Up
        block content
