extends layout

block head
  // Link to the sign-up CSS file
  link(rel="stylesheet", href="/sign-up.css")

block content
  p.breadcrumb MyRecipePal > Sign Up

  .signup-container
    h2 Sign Up...

    form(action="/signup" method="POST")
      .input-field
        label(for="fullname") Full Name:
        input(type="text" name="fullname" id="fullname" placeholder="Enter your full name" required)

      .input-field
        label(for="email") Email:
        input(type="email" name="email" id="email" placeholder="Enter your email" required)

      .input-field
        label(for="password") Password:
        input(type="password" name="password" id="password" placeholder="Enter your password" required)

      // Optionally, add a confirm password field if desired:
      // .input-field
      //   label(for="passwordConfirm") Confirm Password:
      //   input(type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Re-enter your password" required)

      button.signup-button(type="submit") Sign Up

    // Link to the login page if the user already has an account
    a.have-account(href="/login") Already have an account? Log in.
