extends layout 

block head
  link(rel="stylesheet", href="/user-list.css")

block content
  .user-list-page
    h1 User List
    table(border=1)
      thead
        tr
          th User ID
          th Name
      tbody
        for item in data
          tr
            td #{item.user_id}
            td
              a(href='/user-profile/' + item.user_id) #{item.firstName}