extends layout

block head
  link(rel="stylesheet", href="/user-list.css")
  link(href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap", rel="stylesheet")

  link(href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap", rel="stylesheet")

block content
  .user-list-page
    .hero-container
      h1 Welcome to Recipe Pal's User Directory
      p Discover our community of passionate home cooks and food enthusiasts. Explore profiles, share recipes, and find new culinary inspirations.

      .search-bar
        input(type="text" id="searchInput" placeholder="Search by name..." oninput="filterUsers()")
        button(id="searchButton", type="button") Search

    // User List Section
    .user-list-container
      each item in data
        .user-card
          a(href='/user-profile/' + item.user_id)
            .user-name #{item.firstName} 

  script.
    function filterUsers() {
      const searchInput = document.getElementById('searchInput').value.toLowerCase();
      const userRows = document.querySelectorAll('.user-card');

      userRows.forEach(row => {
        const userName = row.textContent.toLowerCase();
        if (userName.includes(searchInput)) {
          row.style.display = '';
        } else {
          row.style.display = 'none';
        }
      });
    }
