extends layout 
block content 
    - console.log(data)
    .main-content 
    h1 User list
    table(border=1)
        for item in data
            tr 
                td  #{item.user_id}
                td 
                    a(href='/user-profile/' + item.user_id) #{item.firstName}