/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Recipe Page Container */
  .recipe-page {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .recipe-image {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .recipe-info {
    text-align: left;
    margin-bottom: 30px;
  }
  
  .recipe-info strong {
    font-weight: bold;
    color: #333;
  }
  
  .recipe-info span {
    display: block;
    margin-top: 5px;
    color: #555;
  }
  
  .back-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #2980b9;
  }
  